<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
	integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
	integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
	crossorigin="anonymous"></script>

<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:insert="@{admin/menu.html}"></div>
	<a th:href="@{/admin/product/create}" type="submit" class="btn btn-primary">Create</a>
	<table class="table caption-top">
		<caption>List of users</caption>
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Name</th>
				<th scope="col">Image</th>
				<th scope="col">Price</th>
				<th scope="col">Avaiable</th>
				<th scope="col">Category</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="obj:${product}" th:object=${obj}>
				<td th:text="*{id}"></td>
				<td th:text="*{name}"></td>
				<td th:text="*{image}"></td>
				<td th:text="*{price}"></td>
				<td th:text="*{avaiable}"></td>
				<td th:text="*{category_id}"></td>
				<td><a onclick="if(!confirm('bạn có muốn xóa không ?')){return false}" th:href="@{'/admin/product/delete/' + ${obj.id}}"  type="submit" class="btn btn-primary">Delete</a>
				<a th:href="@{'/admin/product/update/' + ${obj.id}}" type="submit" class="btn btn-primary">Update</a>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>